Source: dr14meter
Section: sound
Priority: extra
Maintainer: pe7ro <your.email@example.com>
XS-Python-Version: >= 3.9
Build-Depends: cdbs (>= 0.4.49), python (>= 3.9)
Standards-Version: 3.9.2
Homepage: https://github.com/pe7ro/dr14meter

Package: dr14meter
Architecture: all
Depends: python3, python3-numpy, ffmpeg
Recommends: python3-matplotlib, python3-mutagen, python3-scipy
Description: Compute the DR14 value of the given audio files
 Compute the Dynamic Range (DR14) of the given audio files according 
 to the algorithm described by the Pleasurize Music Foundation.
 For more info. visit: http://www.dynamicrange.de

